@model IEnumerable<WebApplication2.Models.GuestReponse>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListReponses</title>
</head>
<body>
    <p>This is List:</p>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Phone</td>
            </tr>
        </thead>
        
        @foreach(GuestReponse r in Model)
        {
            <tr>
                <td>@r.Name</td>
                <td>@r.Email</td>
                <td>@r.Phone</td>
            </tr>
        }
    </table>
</body>
</html>

