
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>Đây là trang chủ</p>
        <a asp-action="RsvpForm">Đến Rsvp</a>
    </div>
</body>
</html>

