@model WebApplication2.Models.GuestReponse
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Styles.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>
<body>
    <form asp-action="RsvpForm" method="post">
        <div asp-validation-summary="All"></div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <label asp-for="Phone"></label>
        <input asp-for="Phone" />
        <label asp-for="Email"></label>
        <input asp-for="Email" />

        <p>
            <label>Will you attend?</label>
            <select asp-for="WillAttend">
                <option value="">Choose an option</option>
                <option value="true">Yes, I'll be there</option>
                <option value="false">No, I can't come</option>
            </select>
        </p>
        <button type="submit">Submit RSVP</button>
    </form>
</body>
</html>

